.container {
  margin-top: 20px;
}

.pagination {
   justify-content: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* ============================== 01. login-btn =========================*/
.login-btn {
  width: 45%;
  margin: 0px 5px 0px 5px;
}

.username-field {
  paddind-bottom: 10px;
  border: 1px solid #696969;
}