.container {
  margin: 50px auto;
}

.pagination {
   justify-content: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* ============================== 01. login-btn =========================*/
.login-btn {
  width: 45%;
  margin: 0px 5px 0px 5px;
}

.username-field {
  paddind-bottom: 10px;
  border: 1px solid #696969;
}

/* ============================== 02. question-index =========================*/
.question-info {
  float:left;
  margin: 0px 40px 0px 20px;
  .upvotes, .solutions, .favorites {
    display: inline-block;
    margin:20px 2px 20px 2px;
  }

}

.question-content {
  float:left;
  width:800px;
  position: relative;

  p {
    font-size: 12px;;
  }
}

.user-info {
  float:right;
  width:130px;
  position: absolute;
  top:0;
  left:650px;

  .user {
    background-color: #f5f5f5;
    padding: 5px 10px 5px 10px;
  }

  .user-avatar, .user-name {
    display: inline-block;
    h6 {
      margin-left: 10px;
    }
  }

  p{
    text-align: right;
  }
}